*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1440px;
	margin: auto;
}
.header{
	display: flex;
	height: 70px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	align-items: center;
	padding: 0 70px;
	justify-content: space-between;

}
.header__nav{
	width: 557px;
}
.header__menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.header__menu a{
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.2em;
	color: black;
}
.header__icons ul{
	list-style: none;
	display: flex;
}
.header__icons ul{
	width: 112px;
	justify-content: space-between;
}
.header__icons img{
	cursor: pointer;
}
.blue{
	background: #95CFD5;
	display: flex;
}
.blue__info{
	margin-left: 152px;
}
.blue__title{
	margin-top: 127px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	color: white;
	font-size: 150px;
	width: 540px;
}
.blue__subtitle{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: white;
	margin-top: 8px;
}
.blue__btns{
	margin: 36px 0 70px 0;
	display: flex;
}
.blue__btnsBuy{
	background: #000000;
	box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	padding: 14px 92px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	width: 272px;
	text-transform: uppercase;
	color: #FFFFFF;
	/* display: flex; */
}
.blue__photo{
	position: relative;
	width: 50%;
} 

.blue__text{
	top: 86px;
	position: absolute;
	right: 152px;
}
.blue__img{
	top: 68px;
	position: absolute;
	right: 206px;
	z-index: 10;
}
.blue__kettles{
	display: flex;
	margin-bottom: 133px;

}
.blue__kettlesItem{
	width: 80px;
	height: 80px;
	border-radius: 7px;
	border: 1px solid #FFFFFF;
	margin-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 16px;
}
.bg-white{
	background: white;
}
.header__menu li{
	line-height: 70px;
}
.header__menu li:hover{
	border-bottom: 4px solid black;

}



.blue__btnsVideo{
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}



.blue__ellipse {
border-radius: 50%;
border: 1px solid black;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center; 
margin-right: 8px; 
margin-left: 46px;
}

.blue__blackellipse {
  width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
	position: relative;
}


.triangle {
	border-top: 4px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid white;
	left: 12px;
    top: 10px;
	position: absolute;
}

.btns__videoText {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
color: #000000;
text-align: left;

}

.blue__btnsBuy:hover {
	background-color: white;
	 color: black;
}

.blue__btnsVideo:hover .blue__blackellipse {
	background-color: white;
}

.blue__btnsVideo:hover .triangle {
	border-left: 6px solid black;
}


.blue__btnsVideo:hover .btns__videoText {
    border-bottom: 1px solid black;
}



.slider {
	position: absolute;
	right: 70px;
	top: 369px;

}

.slider__icons {
width: 10px;
height: 10px;
border-radius: 50%;
border: 1px solid white;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}


.slider__iconsActive {
width: 6px;
height: 6px;
border-radius: 50%;
background-color: #FFFFFF;
position: absolute;

}